.portfolio {
    background-color: #fbfaf8;
    padding: 83px 0 0 0;
}

.portfolio-txt {
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-txt p {
    font-family: "montserrat-light", "Arial", sans-serif;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 40px;
}

.portfolio-img {
    max-width: 770px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.img-center {
    margin-left: -100%;
    cursor: pointer;
}

.img-left {
    margin-left: -25%;
    cursor: pointer;
}

.img-right {
    margin-right: -25%;
    margin-left: -50%;
    cursor: pointer;
}

.aside {
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aside h2 {
    font-family: "raleway-regular", "Arial", sans-serif;
    color: #ffffff;
    font-size: 28px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.aside h2 span {
    color: #c7b299;
    font-size: 28px;
}

.aside p {
    font-family: "montserrat-light", "Arial", sans-serif;
    color: #615855;
    font-size: 18px;
    font-weight: 300;
}
