.projects {
    padding: 80px 0 0 0;
}

.projects .title {
    width: 757px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.projects p {
    font-family: "montserrat-light", "Arial", sans-serif;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    opacity: 1;
}

.projects-nav {
    display: flex;
    justify-content: center;
    margin: 40px 0 40px 0;
}

.projects-button {
    text-transform: capitalize;
    cursor: pointer;
    font-family: "montserrat-light", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    outline: none;
    color: #8c8c8c;
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    padding: 10px 20px;
    margin-right: 20px;
    transition: 600ms;
}

.projects-button:hover {
    background: #998675;
    border-color: #998675;
    color: #fff;
}

.projects-line {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.projects-article {
    margin: 0 30px 30px 5%;
    position: relative;
}

.projects-img {
    display: block;
    position: relative;
    overflow: hidden;
    -moz-transition: all 1s ease-out;
}

.img-effect {
    overflow: hidden;
    position: relative;
}



.article-effect {
    position: absolute;
    height: 30px;
    width: 80px;
    top: 100px;
    margin-left: 140px;
    display: flex;
    visibility: hidden;
}

.projects-icon-left {
    width: 50px;
    background: url(../../images/link.png) no-repeat;
    border: 0;
    outline: none;
    cursor: pointer;
}

.projects-icon-right {
    width: 50px;
    background: url(../../images/lupa.png) no-repeat;
    border: 0;
    outline: none;
    cursor: pointer;
}

.projects-article:hover .article-effect {
    visibility: visible;
}

.prodjects-text {
    background-color: #fbfaf8;
    padding-left: 25px;
    height: 109px;
}
.prodjects-text::before {
    content: "";
    position: absolute;
    border: 15px solid transparent;
    border-bottom: 10px solid #fbfaf8;
    left: 15px;
    bottom: 109px;
}

.prodjects-text h4 {
    font-family: "raleway-regular", "Arial", sans-serif;
    color: #c7b29a;
    font-size: 20px;
    font-weight: 500;
    padding-top: 30px;
    margin-bottom: 15px;
}

.prodjects-text span {
    display: block;
    font-family: "montserrat-light", "Arial", sans-serif;
    color: #d1d1d1;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    padding-bottom: 30px;
}

.projects-article:hover .projects-img {
    filter: brightness(35%);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.projects-article:hover .prodjects-text {
    background-color: #362f2d;
}

.projects-article:hover .prodjects-text::before {
    content: "";
    position: absolute;
    border: 15px solid transparent;
    border-bottom: 10px solid #362f2d;
    left: 15px;
    bottom: 109px;
}

.projects-article:hover .prodjects-text h4 {
    color: #ffffff;
}

.projects-article:hover .prodjects-text span {
    color: #c7b299;
}

.projects-article:hover:before {
    border-color: #362f2d;
}
