header .slider {
    max-width: 20%;
    margin: 0 auto;
    margin-top: 290px;
    text-align: center;
}

.inputs {
    display: none;
}

#i1:checked ~ header .slider #l1,
#i2:checked ~ header .slider #l2,
#i3:checked ~ header .slider #l3,
#i4:checked ~ header .slider #l4 {
    content: none;
    display: inline-block;
    border: none;
    background-color: transparent;
    width: 15px;
    height: 15px;
    background: url(../../images/02.png) no-repeat;
}
#i1:checked ~ header {
    background: url(../../images/photo.png) no-repeat;
    background-size: auto 100%;
}
#i2:checked ~ header {
    background-color: red;
}
#i3:checked ~ header {
    background-color: peru;
}
#i4:checked ~ header {
    background-color: pink;
}

header .slider .item {
    content: none;
    display: inline-block;
    border: none;
    background-color: transparent;
    width: 15px;
    height: 15px;
    background: url(../../images/01.png) no-repeat;
}

header .slider-button {
    content: "";
    border: none;
    background-color: transparent;
    background-image: url(../../images/arrow.png);
    position: absolute;
    width: 40px;
    height: 73px;
    bottom: 100px;
}
header .content #b-left {
    left: -45%;
}
header .content #b-right {
    right: -45%;
    transform: scaleX(-1);
}
