
@media screen and (max-width: 600px) {
    #nav-panel {
        justify-content: space-between;
        padding: 10px 0 0 10px;
        flex-wrap: wrap;
    }
    #desctop-menu {
        display: none;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .header-icon,
    .menu-item:last-child {
        margin-right: 30px;
    }
    .menu-list {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    #mobile-menu-l {
        background: url("../../images/icons-menu.png");
        display: block;
        width: 50px;
        height: 50px;
        margin-right: 25px;
        margin-left: auto;
    }
    #mobile-menu:checked ~ header #nav-panel #desctop-menu{
        display: flex;
    }
    header .content {
        margin-top: 18%;
    }
    header .content h2 {
        font-size: 16pt;
    }
    header .content h1 {
        font-size: 16pt;
    }
    header .content p {
        font-size: 12pt;
    }
}