@media screen and (max-width: 600px) {
    .projects .title {
        display: table-row;
    }
    .projects-button {
        width: 60%;
        margin-right: 20px;
    }
    .projects-nav {
        flex-direction: column;
        align-items: center;
    }
    .projects-article {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .services {
        display: block;
    }
    .services-icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .services-txt::after {
        display: none;
    }
    
    .img-center {
        margin-left: 0;
    }
    .img-left {
        display: none;
    }
    .img-right {
        display: none;
    }
    .aside {
        height: auto;
        padding: 1%;
        flex-wrap: wrap;
    }
    #features img {
        display: none;
    }
    .stat {
        display: block;
    }
    .mobil-txt-items {
        margin-left: 30px;
    }
    .stat .metric {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .stat .metric .name::after {
        display: none;
    }
    .video,
    .video-block {
        height: auto;
        max-height: 300px;
    }
    .video-block h3,
    .video-block p {
        display: none;
    }
    .recentposts-block {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .recentposts-button {
        display: none;
    }
    .recentposts-article {
        width: 100%;
    }
    .partners-img {
        margin-right: 0;
    }
}