.our-twitter {
    width: 270px;
    margin-right: 30px;
}

.our-twitter h4 {
    font-family: "raleway-bold", "Arial", sans-serif;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.twitter-block {
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #252525;
}

.twitter {
    color: #00bff3 !important;
}

.twitter-block p,
.twitter-block span {
    font-family: "raleway-bold", "Arial", sans-serif;
    color: #545454;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.twitter-block a {
    color: #959595;
}
